openai
arxiv
pandas
requests
tqdm
python-dotenv
ipykernel
langchain
langchain-openai
langchain-community  # For PyPDFLoader, etc.
langchain-pinecone
pinecone
google-search-results  # For SerpAPI
langgraph
streamlit
pyyaml